*{
   background-color: rgb(240, 234, 234);
}
a{
    color: rgb(250, 250, 250);
    background-color: brown;
}
.btn{
    position: absolute;
   
  background-color: brown;
  justify-items: right;
  margin-right: 7%;
  margin-top: 3px;
  margin-left: 3px;
  padding: 7px 12px;
  border-radius: 23px;
  cursor: pointer;

}

.flag{
    float: right ;
   

    
}
p{
    text-align: center;
    justify-content: end;
    position: relative;
    flex: auto;
    font-size: medium;
    background-color: transparent;
    
}
.video-text{
    font-size: 75px;
}